/************************** Element Tags ****************************/

body {
    font-family: 'Scada', sans-serif;;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: 900;
}

h1 {
    text-shadow: #052627 0.5px 0.5px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-size: 3rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

p.sub-txt {
    font-weight: 100;
    color: gray;
}

/************************** Class Tags *****************************/

/* Colour Themes */

.theme-1 {
    background-color: #116466;
    color: #05a1a3;
}

.theme-2 {
    background-color: #d1e8e2;
    font-family: "Ubuntu";
}

.theme-3 {
    background-color: #d9b08c;
    color: #fff;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Nav Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: 900;
    text-shadow: #093e3f 1px 2px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* Header */

#header .container-fluid {
    padding: 3% 15% 7%;
}

.header-btn-group {
    margin: auto;
    margin-top: 4rem;
}

.header-img {
    width: 30%;
    transform: rotate(10deg);  
    position: absolute;
    right: 10%;
}

.header-txt {
    text-align: left;
}

.web-button {
    padding: .5rem 47px;
}

.download-button {
    margin: 10px 1px 5px 0;
}


@media (max-width: 991px) {

    .header-txt {
        text-align: center;
    }
    
    .header-img {
        position: static;
        transform: rotate(0);
    }
}

/* Feature Section */

#features.theme-2 {
    position: relative;
    z-index: 1;
}

#features h3 {
    color: black;
}

.feature-box {
    padding: 5%;
}

.feature-icon {
    font-size: 5rem;
    color: #15c9cc;
    margin-bottom: 1rem;
    text-shadow: #093e3f 2px 3px;
}

.feature-icon:hover {
    color:  #116466;
    text-shadow: #052627 2px 3px;
} 

/* Reviews Section */

.review-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

/* Press Section */

#press.theme-3 {
    padding-bottom: 3%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    background-color: #e9f8f4;
}

.pricing-col {
    padding: 3% 2%;
}

.card-header {
    background-color: #01828588;
    font-family: "Ubuntu";
    color: #fff;
}

.text-muted {
    font-size: 1.5rem; 
}

.pricing-card-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(70, 70, 70);
}

.card-body {
    background-color: #cce0e0d0;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5;
    font-weight: 300;
    color: gray;
}

.card-footer {
    background-color: #cce0e0d0;
    border-top: 0px;
}

/* CTA Section */

.cta-title {
    font-size: 3.5rem;
    line-height: 1.5;
    text-shadow:  #052627 0.5px 0.5px;
}

/* Footer */

.footer-icon {
    margin: 20px 10px;
    color:  #116466;
}

.footer-icon:hover {
    color: #15c9cc;
}